<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" type="text/css" />
        <script type="text/javascript" src="app.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-custom navbar-mainbg">
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <img src="Logo.png" alt="Logo">
                <ul class="navbar-nav ml-auto">
                    <!-- <div class="hori-selector"><div class="left"></div><div class="right"></div></div> -->
                    <li class="nav-item">
                        <a class="nav-link" href="home.html"><i class="fas fa-tachometer-alt"></i>דף הבית</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pro.html"><i class="far fa-address-book"></i>פרופיל</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="FF.html"><i class="far fa-clone"></i>FF</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <br>
        <h1> משתמשים קרובים אליי כעת:</h1>
    </body>
</html>
