<!DOCTYPE html>
<html>
    <head>
        <title>loconnection - home page</title>
    </head>
    <body>
        <div id="container">
            <form action="/ans" target="_blank" id = "form" method="post">
                <label id="label1" class="labels">username:</label>
                <input class="inputs" type="text" name="username">
                <br><br>
                <label id="label2" class="labels">password:</label>
                <input class="inputs" type="password" name="password">
                <br><br>
                <input id="submit_button" type="submit" value="send">
            </form>
        </div> 
    </body>
</html>