<head>
<link rel='stylesheet' href='/views/stylesheet.css'>
</head>
<body>
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form action="#">
        <h1>צור חשבון</h1>
        <div class="social-container">
        </div>
        <span>או השתמש באימייל שלך לרישום</span>
        <input type="text" placeholder="שם" />
        <input type="email" placeholder="מייל" />
        <input type="password" placeholder="סיסמא" />
        <button>הירשם</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form action="#">
        <h1>להתחבר</h1>
        <div class="social-container">
        </div>
        <span>או השתמש בחשבון שלך</span>
        <input type="email" placeholder="מייל" />
        <input type="password" placeholder="סיסמא" />
        <a href="#">שכחת ססמה?</a>
        <button>להתחבר</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>ברוך שובך!</h1>
          <p>כדי לשמור על קשר איתנו, התחבר עם המידע האישי שלך</p>
          <button class="ghost" id="signIn">להתחבר</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>שלום חבר!</h1>
          <p>הזינו את פרטיכם האישיים והתחילו איתנו את המסע</p>
          <button class="ghost" id="signUp">הירשם</button>
        </div>
      </div>
    </div>
  </div>
  <footer>
  </footer>

  <script src="/views/JavaScript.js"></script>

</body>

